---
import styles from "./Header.module.sass";
import Logo from "@components/Logo/Logo.astro";
---

<header class={styles.root}>
  <div class={styles.container}>
    <h1>
      Bartołty Wielkie
      <br />
      Buddyjski Ośrodek Odosobnieniowy
    </h1>
    <Logo />
  </div>
</header>
