---
export interface Props {
  title: string;
}

import Document from "./Document.astro";
import Header from "@components/Header/Header.astro";
import styles from "./Layout.module.sass";

const { title } = Astro.props;
---

<Document title={title}>
  <div class={styles.layout}>
    <Header />
    <main>
      <slot />
    </main>
  </div>
</Document>
